<!DOCTYPE html>
<html>
	<head>
		<title>Kim's Blog</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body id="index_body">
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/webpage">Webpage</a></li>
			<li><a href="/resume_builder">Resume Builder</a></li>
			<li><a href="/resume">Resume</a></li>
		</ul>
		<div id="index_h1">
			<h1>Welcome!</h1>
		</div>
	</body>
</html>