<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Home</title>
	</head>

	<body>
		<%= yield %>
		<div id="footer">
			Copyright Kim Hin 2012
		</div>
	</body>
</html>