<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body id='layout_body'>
		<%= yield %>

		<div id='footer_link'>
			<a href="/resume">About</a>
		</div>

		<div id="footer">
			Copyright Kim Hin 2012
		</div>
	</body>
</html>