<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body id='layout_body'>
		<div id="outer_container">
			<%= yield %>

			

			<div id="footer">
				<div id='footer_link'>
					<a href="/about">About</a>
					<p>Copyright Kim Hin 2012</p>
				</div>
			</div>
		</div>
	</body>
</html>