<!DOCTYPE html>
<html>
	<head>
		<title>Logout</title>
	</head>

	<body class="body_signin_signup_page">
		<div><h1>You have logged out.</h1></div>
		<!-- some how redirect the page -->
	</body>
</html>1