<div class='resume'>
	<ul>
		<% @resumes.each do |resume| %>
			<li><%= resume[1] %>
				<a href="/resumes/<%= resume[0] %>">View Resume</a>
				<!-- <a href="/edit">Edit |</a> -->
				<!-- <a href="/resumes/delete/<% resume[0] %>">Delete</a> -->
				<form action='/resumes/<%= resume[0] %>' method="post">
					<input name="_method" type='hidden' value='delete'>
					<input type='submit' value='Delete'>
				</form>
			</li>	
		<%end%>
	</ul>
</div>