<div id="resume_form_area">
	<form name="resume_builder" action="/create_resume" method="post">
		<div class='input_div'>
			<div>
				<label>Title: </label>
			</div>
			<input type='text' name='resume[title]'>
		</div>
		<div id="first_name" class="input_div">
			<div class="label_div">
				<label>First Name: </label>
			</div>
			<input type="text" name="resume[first_name]" />
		</div>

		<div id="last_name"  class="input_div">
			<div class="label_div">
				<label>Last Name: </label>
			</div>
			<input type="text" name="resume[last_name]" />
		</div>

		<div id="email_address"  class="input_div">
			<div class="label_div">
				<label>Email Address: </label>
			</div>
			<input type="text" name="resume[email_address]" />
		</div>

		<div id="home_address"  class="input_div">
			<div class="label_div">
				<label>Home Address: </label>
			</div>
			<input type="text" name="resume[home_address]">
		</div>	

		<div id="city"  class="input_div">
			<div class="label_div">
				<label>City: </label>
			</div>
			<input type="text" name="resume[city]">
		</div>	

		<div id="state"  class="input_div">
			<div class="label_div">
				<label>State: </label>
			</div>
			<input type="text" name="resume[state]">
		</div>	

		<div id="zip_code"  class="input_div">
			<div class="label_div">
				<label>Zip Code: </label>
			</div>
			<input type="text" name="resume[zip_code]">
		</div>

		<div id="telephone_number"  class="input_div">
			<div class="label_div">
				<label>Telephone Number: </label>
			</div>
			<input type="text" name="resume[telephone_number]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>School: </label>
			</div>
			<input type="text" name="resume[school]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>City: </label>
			</div>
			<input type="text" name="resume[school_city]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>State: </label>
			</div>
			<input type="text" name="resume[school_state]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<label>Degree: </label>
			</div>
			<input type="text" name="resume[degree]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>Graduation Date: </label>
			</div>
			<input type="text" name="resume[graduation_date]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<label>Major: </label>
			</div>
			<input type="text" name="resume[major]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>GPA: </label>
			</div>
			<input type="text" name="resume[gpa]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<label>Company's Name: </label>
			</div>
			<input type="text" name="resume[company_name]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<label>Position: </label>
			</div>
			<input type="text" name="resume[position]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<!-- make into drop box -->
				<label>Start date (month/year): </label>
			</div>
			<input type="text" name="resume[job_start]">
		</div>

		<div class="input_div">
			<div class="label_div">
				<!-- make into drop box -->
				<label>End date (month/year): </label>
			</div>
			<input type="text" name="resume[job_end]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<label>Job skills: </label>
			</div>
			<input type="text" name="resume[job_skills]">
		</div>	

		<div class="input_div">
			<div class="label_div">
				<label>skills: </label>
			</div>
			<input type="text" name="resume[skills]">
		</div>
		<input type="submit" value="Submit">							
	</form>
</div>
