<!DOCTYPE html>
<html>
	<head>
		<title>Sign up page</title>
	</head>

	<body>
		<form>
			<div>
				<label>Username: </label>
			</div>
			<div>
				<input type="text" name="username" />
			</div>
			<div>
				<label>Password: </label>
			</div>
			<div>
				<input type="text" name="password" />
			</div>
		</form>	
	</body>
</html>