<!DOCTYPE html>
<html>
	<head>
		<title>Kim's Blog</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body id="webpage_body">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/webpage">Webpage</a></li>
			<li><a href="/resume_builder">Resume Builder</a></li>
			<li><a href="/resume">Resume</a></li>
		</ul>
		
		<div id="webpage_under_construction">
			<h1>Under Construction!</h1>
		</div>
	</body>
</html>